* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --mafia-red: #F21B3F;
  --consigliere: #D84727;
  --mafia-boss: #042A2B;
  --enforcer: #A4243B;
  --spy: #29BF12;
  --medic: #FB6376;
  --assassin: #FF9914;
  --daytime: #FDFCDC;
  --night: #3F3F37;
  --cop: #92898A;
  --innocent: #08BDBD;
  --button-primary: #1F7A8C;
  --attorney: #591F0A;
}

.hidden {
  display: none;
}

.page-title {
  font-size: 4em;
}

.light {
  color: white;
}

.button-default {
  padding: 10px 20px;
  color: white;
  background-color: var(--button-primary);

}

button:disabled {
  cursor: not-allowed;
}
