.night {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--night);
    padding: 20px;
}

.night-main {
    display: flex;
    gap: 20px;
}