.daytime {
    width: 100%;
    min-height: 100%;
    background-color: var(--daytime);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.table-div {
    display: flex;
    gap: 20px;
}

.night-button {
    color: white;
    padding: 10px 20px;
    background-color: var(--night);
}

@media (max-width: 1024px) {
    .table-div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}