.daytime {
    width: 100%;
    height: 100%;
    background-color: var(--daytime);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.dead {
    text-decoration: line-through;
}

.night-button {
    color: white;
    padding: 10px 20px;
    background-color: var(--night);
}