.game-over {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.winning-team {
    font-size: 5em;
}

.innocent-win {
    background-color: var(--innocent);
}

.mafia-win {
    background-color: var(--mafia-red);
}

@media (max-width: 1024px) {
    .winning-team {
        text-align: center;
    }
} 